/* hero.scss */
@use "../../Global" as g;

.p-hero {
  background-image: url(../../../../images/hero.png);
  &__body {
    background-image: url(../../../../images/hero__body.png);
    padding-top: 164px;
    @include g.mq() {
      text-align: center;
      padding: 80px 0 240px;
    }
    >.c-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      row-gap: g.$row-gap-box;
      @include g.mq() {
        display: inline-flex;
      }
      >.c-headline {
        display: none;
          @include g.mq() {
            display: block;
          }
        >.c-logo {
          width: 280px;
        }
      }
      >.c-description {
        @include g.fz(13);
        @include g.mq() {
          @include g.fz(16);
        }
      }
    }
  }
  &__layer {
    background-image: url(../../../../images/hero__layer.png);
  }
}