/* service.scss */
@use "../../Global" as g;

.p-service {
  background-color: g.$color-black;
  color: g.$color-white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 16px;
  @include g.mq () {
    flex-direction: row;
    justify-content: center;
    align-items: inherit;
  }
  @include g.mq(pc) {
    column-gap: g.$column-gap-service;
  }
  >.c-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include g.mq() {
      width: g.$width-service-tab;
      margin: -263px 0 0;
    }
    @include g.mq(pc) {
      width: g.$width-service-pc;
    }
    >.c-circle {
      i {
        @include g.fz(100);
        color: g.$color-black;
      }
    }
    
    >.c-headline {
      @include g.fz(24);
    }
    >.c-description {
      @include g.fz();
    }
  }
}